extends layout

block content
  each collection in collectionList
    .collection-container
      form(action="/minting-tokens", method="post")
        .row.row-name-col
          .col-2
            .text.text-main Collection:
          .col-8.row-name-col
            input.output-col(name="colName" value=collection.name)
            .text.text-sub-main=collection.name
        .row
          .col-2
            .text.text-main Address:
          .col-8
            input.output-col.collection-address(name="colAdd" value=collection.address)
            .text.text-sub-main=collection.address
        .row
          .col.button-main-list
              input.btn.btn-blue.btn-collection-list.btn-submit(type="submit" value="Minting token")
              input.btn.btn-blue.btn-collection-list.btn-info-root(id=`${collection.address}` type="button" value="Info root" onclick="fromCollectionListToTokenList(this);")

  script(src="/scripts/collection-to-token.js") 