extends layout

block content
  .container

    form.row.g-3
      .collection-container
        .search
          .row.row_init
            .col
              label.text.form-label() Token address
              input.text.form-control(name="tokenAddress" onInput="checkAddressInput(this)" type="text" pattern="[A-Za-z0-9:]+" placeholder="Token address" aria-label="Token address")
            
            input.btn.btn-blue.btn-find(type="submit" value="Find")
    .collection-container
      .token-info-container
        if tokenInfo        
          each line in tokenInfo
            if line.tag == 'p'
              .row 
                .col-3
                  p.text.text-main= line.title
                .col-9
                  p.text=line.value
            else if line.tag == 'img'
              .row 
                .col-3
                  p.text.text-main= line.title
                .col-9
                  img(src=line.value style="max-width: -webkit-fill-available;")
            else if line.tag == 'video'
              .row 
                .col-3
                  p.text.text-main= line.title
                .col-9
                  video(src=line.value controls="controls" style="max-width: -webkit-fill-available;")
            else if line.tag == 'a'
              .row 
                .col-3
                  p.text.text-main= line.title
                .col-9
                  a(href=line.value target="_blank")= line.value
          
  script(src="/scripts/input-validation.js")
    




