extends layout 
block content 
    h1= title  
    p Contract was successfully deployed and dabi/code was generated.
    p Address of #{contractName}: #{address}
    p DAbi of #{contractName}: #{dabi}
    p Code of #{contractName}: #{code}